%footer.footer
  .container
    .row
      .col-sm-4.margin-b-30
        %h2 Assan
        %p
          Over 2500+ happy customers since December 2014.We've create the classic, simple & fully featured Templates kit. In author language ASSAN means simple and easy to learn and use.
        .space-20
        %a.btn.btn-skin.btn-radius.btn-lg{:href => "https://wrapbootstrap.com/theme/assan-multi-purpose-8-themes-in-1-WB05F069P", :target => "_blank"} Get Assan Kit Today!
      .col-sm-4.margin-b-30
        %h2 Contact us
        %ul.list-unstyled.clearfix
          %li.clearfix
            %i.fa.fa-map-marker
            %span 124, Munna wali, Lalchandpura, Johtwara, 302012
          %li.clearfix
            %i.fa.fa-envelope-o
            %span
              %a{:href => "#"} mylifedesign143@gmail.com
          %li.clearfix
            %i.fa.fa-phone
            %span +01 1234 434-345
      / col4 end
      .col-sm-4.margin-b-30
        %h2 Follow us
        %ul.list-inline.clearfix
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook-official
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
          %li
            %a{:href => "#"}
              %i.fa.fa-youtube
      / col4 end
    / row end
    .row
      .col-sm-12.text-center
        .footer-bottom
          %ul.list-inline
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} News
            %li
              %a{:href => "#"} Help
            %li
              %a{:href => "#"} Terms
            %li
              %a{:href => "#"} Privacy
          %span © Copyright 2016. Orginal Design by Design_mylife
