.container
  .row
    .col-md-4.margin-btm-20
      .quote.trans-tech-blue-superlight
        %blockquote
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      .quote-footer.text-right
        .quote-author-img
          %img{:alt => "", :src => "img/customer-1.jpg"}/
        %h4 Rakesh Sharma
        %p
          %strong Design_mylife
    / colored quote box col
    .col-md-4.margin-btm-20
      .quote.green
        %blockquote
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      .quote-footer.text-right
        .quote-author-img
          %img{:alt => "", :src => "img/customer-2.jpg"}/
        %h4 Rakesh Sharma
        %p
          %strong Design_mylife
    / colored quote box col
    .col-md-4.margin-btm-20
      .quote.dark
        %blockquote
          %p
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      .quote-footer.text-right
        .quote-author-img
          %img{:alt => "", :src => "img/customer-3.jpg"}/
        %h4 Rakesh Sharma
        %p
          %strong Design_mylife
    / colored quote box col
  / testimonials row
.divide80
  .container
    .row
      .col-md-4.margin-btm-20
        .quote.dark
          %blockquote
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        .quote-footer.text-right
          .quote-author-img
            %img{:alt => "", :src => "img/customer-1.jpg"}/
          %h4 Rakesh Sharma
          %p
            %strong Design_mylife
      / colored quote box col
      .col-md-8.margin-btm-20
        .quote.green
          %blockquote
            %p
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        .quote-footer.text-right
          .quote-author-img
            %img{:alt => "", :src => "img/customer-2.jpg"}/
          %h4 Rakesh Sharma
          %p
            %strong Design_mylife
      / colored quote box col
    / testimonials row
