%section#clients-carousel
  #clients-slider
    - widget.images.each do |image|
      .item
        = link_to(image_tag(scrivito_path(image.obj.binary.transform(quality: 50)), class: 'img-responsive', loading: "lazy"), image.title)
