= content_tag :section, id: widget.section_name do
  %div{class: "row #{widget.color}"}
    %div{class: "container container_padding #{widget.color} wow animated fadeInLeft animated"}
      = scrivito_tag(:div, widget, :widgets)
