.cookie-notice
  = scrivito_tag :i, obj, :cookie_notice
  - if obj.cookie_notice_link.present?
    = link_to obj.cookie_notice_link.title, scrivito_path(obj.cookie_notice_link), class: 'cookie-link'

  .btn.btn-default.green-button#acceptedCookies{data: { destination: accepted_cookies_hint_path, id: obj.id}}
    = obj.cookie_notice_button_text
