= content_tag :section, id: widget.section_name, class: "features-background" do

  .center-title
    %h2.white
      Our Services
    .row.jobs-row
      .container
        .col-md-3.no-padding-col
          #accordion.panel-group
            .left_top_panel.panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseone"}
                    %span.ti-bookmark-alt.services_icons
                    %br
                    DIN EN 15038

              #collapseone.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-crown.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsetwo"}
                    Fachliche Kompetenz


              #collapsetwo.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .left_bottom_panel.panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-wand.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsethree"}
                    Sprachliche Kompetenz


              #collapsethree.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
        .col-md-6.no-padding-col
          #accordion.panel-group
            .panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-shopping-cart.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefour"}
                    Spezialgebiete


              #collapsefour.panel-collapse.collapse
                .panel-body

                  .row
                    .col-md-4
                      .panel.panel-default.trans-tech-blue-darker
                        .panel-heading
                          %h4.panel-title
                            %span.ti-plus.services_icons
                            %br
                            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefourone"}
                              Klause
                        #collapsefourone.panel-collapse.collapse
                          .panel-body
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            .divide30
                            %p
                              %a.btn.btn-theme-bg{:href => "#"} Apply Now
                    .col-md-4
                      .panel.panel-default.trans-tech-blue-darker
                        .panel-heading
                          %h4.panel-title
                            %span.ti-minus.services_icons
                            %br
                            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefourtwo"}
                              Klause
                        #collapsefourtwo.panel-collapse.collapse
                          .panel-body
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            .divide30
                            %p
                              %a.btn.btn-theme-bg{:href => "#"} Apply Now
                    .col-md-4
                      .panel.panel-default.trans-tech-blue-darker
                        .panel-heading
                          %h4.panel-title
                            %span.ti-signal.services_icons
                            %br
                            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefourthree"}
                              Klause
                        #collapsefourthree.panel-collapse.collapse
                          .panel-body
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            .divide30
                            %p
                              %a.btn.btn-theme-bg{:href => "#"} Apply Now

            / panel end
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-time.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefive"}
                    Prompte Bearbeitung

              #collapsefive.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsesix"}
                    DTP-Formate


              #collapsesix.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
        .col-md-3.no-padding-col
          #accordion.panel-group
            .panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-comments-smiley.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseseven"}
                    190 Kombinationen


              #collapseseven.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-target.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseeight"}
                    Erfahrene Simultandolmetscher

              #collapseeight.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-check.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsenine"}
                    Korrekturlesen vorhandener Texte

              #collapsenine.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
        .col-md-12.no-padding-col
          #accordion.panel-group
            .left_top_panel.panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsebig1"}
                    %span.ti-bookmark-alt.services_icons
                    %br
                    DIN EN 15038

              #collapsebig1.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
