.team-wrap
  = scrivito_image_tag widget, :image
  %h4
    = scrivito_tag(:div, widget, :name)
  %span
    = scrivito_tag(:div, widget, :job_description)
  %p
    = scrivito_tag(:div, widget, :description)
