.container
  = "select homepage"
  = form_tag(scrivito_path(@obj), method: :post) do
    - if flash[:error]
      .alert.alert-danger= flash[:error]
    .form-group
      = select_tag 'homepage', options_for_select(@homepages.collect{ |u| [u.country_name_translation, u.id] }), class: "form-control select2form"
    .checkbox.pull-left
    %label
    %button.btn.btn-default{:type => "submit"} Homepage besuchen
