.col-md-3.col-sm-6.col-xs-12
  = scrivito_tag(:div, widget, :widgetlist_1)
.col-md-3.col-sm-6.col-xs-12
  = scrivito_tag(:div, widget, :widgetlist_2)
.col-md-3.col-sm-6.col-xs-12
  = scrivito_tag(:div, widget, :widgetlist_3)
.col-md-3.col-sm-6.col-xs-12
  = scrivito_tag(:div, widget, :widgetlist_4)
