%nav.navbar.navbar-default.header-v1.navbar-fixed-top
  .container
    .navbar-header.scroll-to
      %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "index.html"} Trans-Tech
    #navbar.nav-push-right.navbar-collapse.collapse
      %ul.nav.scroll-to.navbar-nav
        %li
          %a{href: "#home"}
            Home
        - @obj.nav_based_on_widgets.each do |section|
          %li
            = link_to(section.section_name.humanize, "#" + section.section_name)

        %li.dropdown.active
          %a.dropdown-toggle.js-activated{"aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Language
            %span.caret
          %ul.dropdown-menu
            - @obj.homepages.each do |homepage|
              %li
                %a{:href => scrivito_path(homepage)}
                  = image_tag(image_path("flags/" + homepage.country), class: "flag-icon")
                  = homepage.country_name_translation
      %ul.nav.navbar-nav.navbar-right
        %li.button-nav
          %a{:href => "https://wrapbootstrap.com/theme/assan-multi-purpose-8-themes-in-1-WB05F069P", :target => "_blank"} Work with us
    / /.nav-collapse
  / /.container-fluid
/ navigation end here
